<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>simplecalculatortest.SimpleCalculatorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testPenjumlahan</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPerkalian</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testModulus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPembagian</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPengurangan</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
