<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite Simple Calculator</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b86989">  <td>22/11/20 18:03:48</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SimpleCalculatorTest.setup()[pri:0, instance:simplecalculatortest.SimpleCalculatorTest@39fb3ab6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@157456214</td>   <td></td> </tr>
<tr bgcolor="b86989">  <td>22/11/20 18:03:48</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleCalculatorTest.testPenjumlahan()[pri:0, instance:simplecalculatortest.SimpleCalculatorTest@39fb3ab6]">testPenjumlahan</td> 
  <td>main@157456214</td>   <td></td> </tr>
<tr bgcolor="b86989">  <td>22/11/20 18:03:48</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleCalculatorTest.testPengurangan()[pri:1, instance:simplecalculatortest.SimpleCalculatorTest@39fb3ab6]">testPengurangan</td> 
  <td>main@157456214</td>   <td></td> </tr>
<tr bgcolor="b86989">  <td>22/11/20 18:03:48</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleCalculatorTest.testPerkalian()[pri:2, instance:simplecalculatortest.SimpleCalculatorTest@39fb3ab6]">testPerkalian</td> 
  <td>main@157456214</td>   <td></td> </tr>
<tr bgcolor="b86989">  <td>22/11/20 18:03:48</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleCalculatorTest.testPembagian()[pri:3, instance:simplecalculatortest.SimpleCalculatorTest@39fb3ab6]">testPembagian</td> 
  <td>main@157456214</td>   <td></td> </tr>
<tr bgcolor="b86989">  <td>22/11/20 18:03:48</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleCalculatorTest.testModulus()[pri:4, instance:simplecalculatortest.SimpleCalculatorTest@39fb3ab6]">testModulus</td> 
  <td>main@157456214</td>   <td></td> </tr>
</table>
